html,
body {
  scroll-behavior: smooth;
}

body {
  color: $default;
  font-size: 18px;
  line-height: 1.45;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  font-style: normal;
  background-color: #FCFCFC;

  &.lock {
    overflow: hidden;
  }
}

.noise-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -2;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 70px 0;

  @media (max-width: 1200px) {
    padding: 50px 0;
  }

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  @media (max-width: 576px) {
    padding: 20px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.int {
  transition: background-color 0.5s,
              transform 0.5s,
              opacity 0.5s,
              outline 0.5s,
              border-color 0.5s,
              color 0.5s,
              border-radius 0.5s,
              display 0.5s,
              box-shadow 0.5s;
}

.click-area {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 130%;
    height: 60px;
    transform: translate(-50%, -50%);
  }
}

.link {
  font-size: 14px;
  line-height: 1.45;
  font-weight: 300;
  color: $default;
  text-decoration: none;
}

.title {
  text-align: left;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 550;
  letter-spacing: 0.07em;
  
  &__part {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
  }
}

.logo {
  
  &:focus {
    outline: 1px solid $default;
    outline-offset: 6px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.slick-icon {
  fill: $default;
}

.slick-arrow {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100px;
    height: 60px;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: background-color 0.4s,
                outline 0.4s;

    @media (max-width: 992px) {
      min-width: 50px;
    }

    @media (max-width: 360px) {
      min-width: 30px;
    }
  }

  &:hover {

    .slick-icon {
      transition: fill 0.4s;
      fill: $white;
    }
  }

  &:hover::before {
    background-color: $accent;
  }

  &:active::before {
    background-color: $default;
  }

  &:active {

    .slick-icon {
      fill: $accent;
    }
  }

  &:focus::before {
    outline: 1px solid $default;
  }
}

.btn-main {
  background-color: $default;
  text-transform: uppercase;
  font-size: 14px;
  padding: 22px 44px;
  font-weight: 550;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 992px) {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    padding: 20px 20px;
  }

  @media (max-width: 768px) and (orientation: landscape) {
    padding: 13px 13px;
  }

  &__icon {
    transition: fill 0.5s;
    fill: $white;
    margin-left: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px $brown;
    border-radius: 0 20px;
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $default;
    top: -10px;
    left: -10px;
    z-index: -1;
  }

  &:hover {
    background-color: $accent;
    border-radius: 0 20px 0 20px;
    outline: 1px solid $brown;
    color: $brown;

    .btn-main__icon {
      fill: $brown;
    }

    &::after {
      display: none;
    }
  }

  &:focus {
    background-color: $accent;
    border-radius: 0 20px 0 20px;
    outline: 3px double $brown;
    color: $brown;

    .btn-main__icon {
      fill: $brown;
    }

    &::after {
      display: none;
    }

    &::before {
      display: block;
    }
  }

  &:active {
    border-radius: 0 20px 0 20px;
    outline: 1px dotted $brown;
    background-color: $brown;
    color: $white;

    &::after {
      display: none;
    }

    .btn-main__icon {
      fill: $white;
    }
  }

  &--light {
    background-color: none;
    border: 1px solid $default;
    padding: 26px 50px;

    @media (max-width: 768px) {
      padding: 20px 20px;
    }

    @media (max-width: 576px) {
      padding: 15px 15px;
    }

    &:hover {
      background-color: transparent;
      border-radius: 20px 0 20px 0;
      outline: 1px solid $brown;
      color: $brown;
    }

    &:active {
      border-radius: 0 20px 0 20px;
      outline: 1px dotted $brown;
      background-color: $brown;
      color: $white;
    }

    &:focus {
      outline: 1px solid $brown;
      box-shadow: inset 10px 10px 10px $brown;
      border-radius: 6px;
      background-color: transparent;
      border-radius: 0 20px 0 20px;
      outline: 3px double $brown;
      color: $brown;
    }

    @media (max-width: 576px) {
      margin: 0 auto;
    }
  }
}

.cost {
  color: $white;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  position: relative;

  @media (max-width: 576px) {
    font-size: 30px;
    min-width: 105px;
  }

  &__top {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 16px;
    color: $accent;
  }

  &__bottom {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 15px;
    font-weight: 100;
    color: $white;
    letter-spacing: 0;
  }

  &__currency {
    font-size: 16px;
  }
}