$default: #303030;
$white: #fff;
$accent: #8C8C8C;

%helvetica-100 {
  font-family: 'HelveticaNeueCyr-Thin',
  sans-serif;
  font-weight: 100;
}

%helvetica-300 {
  font-family: 'HelveticaNeueCyr-Light',
  sans-serif;
  font-weight: 300;
}

%helvetica-300italic {
  font-family: 'HelveticaNeueCyr-LightItalic',
  sans-serif;
  font-weight: 300;
}

%helvetica-400 {
  font-family: 'HelveticaNeueCyr-Roman',
  sans-serif;
  font-weight: 400;
}

%helvetica-550 {
  font-family: 'HelveticaNeueCyr-Medium',
  sans-serif;
  font-weight: 550;
}

%helvetica-700 {
  font-family: 'HelveticaNeueCyr-BoldItalic',
  sans-serif;
  font-weight: 700;
}