.blog {

  &--video {
    width: 520px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    position: relative;
    min-width: 540px;
    padding-bottom: 190px;
    margin-right: 80px;
  }


  &__title {
    margin-bottom: 35px;
  }

  &__info {
    margin-bottom: 40px;

    &--medium {
      width: 517px;
    }

    &--large {
      width: 560px;
    }

    &-text {

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__descr {
    padding: 22px 200px 22px 47px;
  }

  &__carousel {
    min-width: 520px;
    min-height: 520px;
    position: relative;

    &--product {

      &::before {
        content: '';
        background-image: url('../images/carousel/engine-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: -35%;
        top: 50%;
        transform: translateY(-50%);
        min-width: 355px;
        min-height: 355px;
        z-index: 0;
      }

      &::after {
        content: '';
        background-image: url('../images/carousel/air-gun-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: -40%;
        top: 50%;
        transform: translateY(-50%);
        min-width: 250px;
        min-height: 250px;
        z-index: -1;
      }
    }

    &--package {

      &::before {
        content: '';
        background-image: url('../images/carousel/capacin-top-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: -35%;
        top: 50%;
        transform: translateY(-50%);
        min-width: 355px;
        min-height: 355px;
        z-index: 0;
      }

      &::after {
        content: '';
        background-image: url('../images/carousel/capacin-bottom-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: -40%;
        top: 50%;
        transform: translateY(-50%);
        min-width: 250px;
        min-height: 250px;
        z-index: -1;
      }
    }

    .slick-slide,
    &-item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 520px;
      height: 520px;
      display: block;
      position: relative;
    }

    &-pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .slick-icon {
      fill: $default;
    }

    .slick-arrow {
      position: absolute;
      bottom: 10px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100px;
        height: 60px;
        transform: translate(-50%, -50%);
      }
    }

    .slick-prev {
      left: 45%;
      transform: translateX(-45%);
    }

    .slick-next {
      right: 30%;
      transform: translateX(-30%);
    }
  }

  &__video {

    &-link {
      position: relative;
      min-width: 555px;
      min-height: 436px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
      overflow: hidden;

      &:hover {

        .blog__video-popup {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 60px;
          height: 60px;
          background-color: $white;
          opacity: 0.7;
          border-radius: 50%;
        }
      }
    }

    &-popup {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      width: 60px;
      height: 60px;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}