.product {

  &__title {
    margin-bottom: 80px;
  }

  &__list {
    margin-bottom: 195px;
  }

  .slick-slider {
    position: relative;

    .slick-arrow {
      position: absolute;
      bottom: -95px;
    }

    .slick-prev {
      left: 44%;
      transform: translateX(-44%);
    }

    .slick-next {
      right: 44%;
      transform: translateX(-44%);
    }
  }

  .slick-slide {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    .product__img.product__img--first {

      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(8) {
        grid-column: 3/5;
        grid-row: span 2;
      }

      &:nth-child(11) {
        grid-column: 1/3;
        grid-row: span 2;
      }
    }

    .product__img.product__img--second {

      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(6) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(7) {
        grid-column: 3/5;
        grid-row: span 2;
      }

      &:nth-child(8) {
        grid-column: 1/3;
        grid-row: span 2;
      }
    }

    .product__img.product__img--third {

      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(6) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(11) {
        grid-column: 1/3;
        grid-row: span 2;
      }

      &:nth-child(12) {
        grid-column: 3/5;
        grid-row: span 2;
      }
    }
  }

  &__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;

    button {

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}